In [12]:
##Sum of Even Numbers till N

In [13]:
n=int(input("enter the number:"))
i=0
sum=0
while i<=n:
    sum=sum+i
    i=i+2
print(sum)

enter the number:2
2

In [14]:
# check the prime number or not

In [15]:
n=int(input("enter the number"))
flag=False
d=2
while d<n:
    if n%d==0:
        flag=True 
    d+=1
if flag:
    print("it is not  prime number ")
else:
    print("it it prime ")

enter the number13
it it prime

In [16]:
number=int(input("enter the number:"))
try:
    if number==1:
        a=int(input("enter the number:"))
        b=int(input("enter the number:"))
        c=a+b
        print ("addition of two number is:",c)
    elif number==2:
        a=int(input("enter the number:"))
        b=int(input("enter the number:"))
        c=a-b
        print ("subtraction of two number :",c)
    elif number==3:
        a=int(input("enter the number:"))
        b=int(input("enter the number:"))
        c=a*b
        print ("multiplication of two number:",c)
    elif number==4:
        a=int(input("enter the number:"))
        b=int(input("enter the number:"))
        c=a/b
        print ("division of two number :",c)
except Exception as e:
    print("invalid number ",e)

enter the number:12

In [17]:
number=int(input("enter the number from you want revrse "))
temp=number
rev=0
while temp>0:
    n=temp%10
    temp=temp/10
    rev=rev*10+n
print(rev)

enter the number from you want revrse 123
inf

You are given an input integer N, and you have to calculate the sum of itsodd and even digits separately.For example, if the given number is 24321, then sum of itâ€™s even digit=2+4+2=8 and odddigits=3+1=4

In [26]:
n=int(input("enter the number"))
even_sum=0
odd_sum=0
while n>0:
    lastdigit=n%10
    if lastdigit%2==0:
        print("even ")
        even_sum=even_sum+lastdigit
    else:
        odd_sum=odd_sum+lastdigit
        
    n=n/10
print("even sum:",even_sum,"odd sum:",odd_sum)

enter the number456
even
even sum: 6 odd sum: 10.666666666666671

In [ ]:
#check prime number from 2 to n

In [2]:
n=int(input("enter the number:"))
k=2

while k<=n:
    d=2
    flag=False
    while d<k:
        if k%d==0:
            flag=True
        d+=1
    if not(flag):
        print(k)
        
    k+=1

enter the number:60
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59

# pattern Question

*****
*****
*****
*****
*****

In [20]:
n=int(input("enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print("*", end='') 
        j+=1
    print()
    i+=1

enter the number of rows: 5
*****
*****
*****
*****
*****

In [22]:
n=int(input("enter the number of rows  want "))
i=1
while i<=n:
    j=1
    while j<=n:
        print("#",end='')
        j+=1
    print()
    i+=1

enter the number of rows  want 4
####
####
####
####

In [25]:
n=int(input("enter the number of rows :"))
i=1
while i<=n:
    for j in range(1,n+1):
        print("4",end=" ")
        j+=1
    print()
    i+=1

enter the number of rows :5
4 4 4 4 4
4 4 4 4 4
4 4 4 4 4
4 4 4 4 4
4 4 4 4 4

1111
2222
3333
4444

In [28]:
n=int(input("enter the number of rows:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print(i ,end='')
        j+=1
    print()
    i+=1

enter the number of rows:5
11111
22222
33333
44444
55555

1234
1234
1234
1234

In [1]:
n=int(input("enter the number of rows:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print(j ,end='')
        j+=1
    print()
    i+=1

enter the number of rows:4
1234
1234
1234
1234

4321
4321
4321
4321

In [2]:
n=int(input("enter the number of rows:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print(n-j+1 ,end='')
        j+=1
    print()
    i+=1

enter the number of rows:4
4321
4321
4321
4321

#pattern
1
1 2
1 2 3
1 2 3 4

In [3]:
n=int(input("enter the number of rows "))
i=1
while i<=n:
    j=1
    while j<=i: # cloumn will start from ith rows
        print(j,end='')
        j+=1
    print()
    i+=1

enter the number of rows 4
1
12
123
1234

#pattern
1
23
345
4567
56789
67891011
78910111213

In [4]:
n=int(input("enter the number: "))
i=1
while i<=n:
    j=1
    p=i
    while j<=i:
        print(p,end='')
        j+=1
        p+=1
    print()
    i+=1

enter the number: 7
1
23
345
4567
56789
67891011
78910111213

# pattern 
1
23
456
78910
1112131415

In [5]:
n=int(input("enter the number of rows"))
i=1
p=1
while i<=n:
    j=1
    while j<=i:
        print(p,end='')
        j+=1
        p=p+1
    print()
    i+=1

enter the number of rows5
1
23
456
78910
1112131415

In [6]:
n=int(input("enter the number of rows"))
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end='')
        j+=1
    print()
    i+=1

enter the number of rows4
*
**
***
****

In [7]:
n=int(input("enter the number of rows"))
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end='')
        j+=1
    print()
    i+=1

enter the number of rows4
1
22
333
4444

4
1
21
321
4321

In [8]:
# revesre pattern question
n=int(input())
i=1
while i<=n:
    j=1
    p=i
    while j<=i:
        print(p, end='')
        j+=1
        p-=1
    print()
    i+=1

4
1
21
321
4321

# charecter patterns

##printing the charecter pattern
A B C D
A B C D
A B C D
A B C D

In [16]:
#to find the kth value of the charecter 
a=int(input())
i=1
while i<=a:
    j=1
    while j<=a:
        p=chr(ord("A")+j-1) # here we are first finding the ascii value corresponding to the character then convert it into value associated with the value
        print(p,'',end='')
        j+=1
    print()
    i+=1

4
A B C D
A B C D
A B C D
A B C D

# print the given pattern 


A B C D 
B C D E 
C D E F 
D E F G

In [19]:
a=int(input())
i=1
while i<=a:
    start=chr(ord("A")+i-1)
    j=1
    while j<=a:
        p=chr(ord(start)+j-1) # here we are first finding the ascii value corresponding to the character then convert it into value associated with the value
        print(p,'',end='')
        j+=1
    print()
    i+=1

5
A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

#print this for 4 number of rows
A 
B C 
C D E 
D E F G 
E F G H I

In [36]:
a=int(input())
i=1
while i<=a:
    j=1
    p=ord("A")+i-1
    while j<=i:
        print(chr(p),'',end='')
        p+=1
        j+=1
    
    print()
    i+=1

5
A
B C
C D E
D E F G
E F G H I

D
CD
BCD
ABCD

In [1]:
n=int(input())
i=1
while i<=n:
    j=1
    p=ord("A")+n-i # here we subtracting the ascii value from number rows
    while j<=i:
        print(chr(p),end='')
        p+=1
        j+=1
    print()
    i+=1

D
CD
BCD
ABCD

"""A 
B B 
C C C """

In [1]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        p=chr(ord("A")+i-1)
        print(p,"",end="")
        j+=1
    i+=1
  
    print()

4
A
B B
C C C
D D D D

***
**
*

In [5]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print("*",end='')
        j+=1

    i+=1
    print()

3
***
**
*

1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5

In [8]:
n=int(input("enter the number of rows:"))
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print(i,"",end='')
        j+=1
    i+=1
    print()

enter the number of rows:4
1 1 1 1
2 2 2
3 3
4

 *
 **
***

In [10]:
n=int(input())
i=1
while i<=n:
    whitespace=1
    while whitespace<=n-i:
        print(" ",end="")
        whitespace+=1
    j=1
    while j<=i:
        print("*",end='')
        j+=1
    i+=1
    print()

3
  *
 **
***

mirror number pattern 
  1
 12
123

In [13]:
n=int(input())
i=1
while i<=n:
    space=1
    while space<=n-i:
        print(" " ,end='')
        space+=1
    start=1
    while start<=i:
        print(start,end='')
        start+=1
    i+=1
    print()

3
  1
 12
123

 #isoscale triangle 
  1                
 121           
1234321
# split the problem into subproblem and then solved

In [15]:
n=int(input())
i=1
while i<=n:
    spaces=1
    p=1
    #white spaces 
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1
        p+=1
    j=1
    #increment 
    while j<=i:
        print(j,end='')
        j+=1
    p=i-1
    # decrement
    while p>=1: # as long as p is greater than 1 
        print(p,end='')
        p=p-1
        
    i+=1
    print()

5
    1
   121
  12321
 1234321
123454321

In [30]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1
    j=1
    while j<=i:
        print(i,end='')
        j+=1
    p=1
    while p<=i-1: # number of counts 
        print(2*i-2 , end='') # element to be printed 
        p+=1   
    i+=1
    print()

4
   1
  222
 33344
4444666

In [33]:
n = int(input())
i = 1

while i <= n:
    spaces = 1
    while spaces <= n - i:
        print(" ", end='')
        spaces += 1
    
    j = 1
    while j <= i:
        print(i + j - 1, end='')  # Adjusted to print increasing numbers
        j += 1

    p = 1
    while p <= i - 1:
        print(i + j - p - 2, end='')  # Adjusted to print decreasing numbers
        p += 1
        
    i += 1
    print()

5
    1
   232
  34543
 4567654
567898765

In [56]:
n=int(input("enter total number of rows:"))
n1=(n+1)//2
n2=n1-1
print(n1)
print(n2)
i=1
while i<=n1:
    spaces=1
    while spaces<=n1-i:
        print("  ",end='')
        spaces+=1
    j=1
    while j<=2*i-1:
        print("*", end='')
        j+=1
    i+=1
    print()
while i<=n2:
    spaces=1
    while spaces<=i:
        print("  ",end='')
        spaces+=1
    while j <= 2 * (n2 - i) + 1:
        print("*",  end='')
        j += 1
    i += 1
    print()

enter total number of rows:7
4
3
      *
    ***
  *****
*******

In [57]:
n = int(input("Enter total number of rows:"))
n1 = (n + 1) // 2
n2 = n1 - 1
print(n1)
print(n2)

# First half of the pattern
i = 1
while i <= n1:
    spaces = 1
    while spaces <= n1 - i:
        print(" ", end='')
        spaces += 1
    j = 1
    while j <= 2 * i - 1:
        print("*", end='')
        j += 1
    i += 1
    print()

# Second half of the pattern
i = 1
while i <= n2:
    spaces = 1
    while spaces <= i:
        print(" ", end='')
        spaces += 1
    j = 1
    while j <= 2 * (n2 - i) + 1:
        print("*", end='')
        j += 1
    i += 1
    print()

Enter total number of rows:7
4
3
   *
  ***
 *****
*******
 *****
  ***
   *

In [58]:
n=int(input("enter total number of rows:"))
n1=(n+1)//2
n2=n1-1
print(n1)
print(n2)
i=1
while i<=n1:
    spaces=1
    while spaces<=n1-i:
        print("  ",end='')
        spaces+=1
    j=1
    while j<=2*i-1:
        print("*", end='')
        j+=1
    i+=1
    print()
while i<=n2:
    spaces=1
    while spaces<=i:
        print("  ",end='')
        spaces+=1
    while j <= 2 * (n2 - i) + 1:
        print("*",  end='')
        j += 1
    i += 1
    print()

enter total number of rows:9
5
4
        *
      ***
    *****
  *******
*********

1      1
12    21
123  321  
12344321

In [18]:
n=int(input("enter the number of rows:"))
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end='')
        j+=1
        
        
    spaces=1
    while spaces<=(2*n-2*i):
        print("  ", end='')
        spaces+=1


    p = i
    while p >= 1:
        print(p, end='')
        p -= 1

    print()
    i+=1

enter the number of rows:5
1                1
12            21
123        321
1234    4321
1234554321

 *
 **
  ***
   ****
***
**
*

In [8]:
n=int(input("enter the number of rows:"))
n1=(n+1)//2
n2=(n1-1)
print(n1)
print(n2)

i=1

while i<=n1:
    spaces=1
    while spaces<=i-1:
        print(" ",end='')
        spaces+=1
    j=1
    while j<=i:
        print("*",end='')
        j+=1
    print()
    i+=1
i=1   
while i<=n2:
    spaces=1
    while spaces<=n2-i:
        print("",end='')
        spaces+=1
    p=1
    while p<=n2-i+1:
        print("*",end='')
        p+=1
    print()
    i+=1

enter the number of rows:9
5
4
*
 **
  ***
   ****
    *****
****
***
**
*

In [12]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1,1):
    for j in range(n-i):
        print(" ",end='')
    for k in range(i,2*i):
        print(k,end='')
    for p in range(2*i-2,i-1,-1):
        print(p,end='')
    print()

enter the number of rows:5
    1
   232
  34543
 4567654
567898765